body {
    background-color: #FF9000;
    white-space: nowrap;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.myname {
    font-size: 200px;
}

p {
    font-size: 80px;
    white-space: pre-wrap;
}