.background, body {
    background-color: rgb(204, 255, 0);
}


body {
    background-color: black;
}

.content {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    justify-content: space-between;
}

.title {
    font-family: 'Cormorant Unicase', serif;
    font-size: 80px;
    max-width: 700px;
    padding-right: 100px;
    color: white;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    max-width: 700px;
    padding-top: 50px;
    text-align: left;
    color: black;
    background-color: white;
    padding: 20px 20px;
    font-size: 16px;
}

.wrapleft {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.wrapright {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 150px;
    padding-top: 75px;
    padding-bottom: 75px;
}

a {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color: rgb(0, 75, 85);
    font-size: 30px;
    background-color: rgb(171, 255, 199);
    padding: 20px 20px;
}

a:hover {
    background-color: rgb(2, 217, 246);
    transition: 0.7s;
}