html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
    background-color: #f1f1f1;
}


.top {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 20px 40px;
    align-items: center;
    text-align: center;
}

.title {
    font-family: 'Raleway';
    font-size: 6vw;
    color: rgb(0, 0, 0);
    text-align: center;
}

.rating {
    font-family: 'raleway-mediumitalic';
    text-align: center;
    padding-top: 20px;
    font-size: 2vw;
}


.content {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    width: 60%;
    padding-top: 25px;
    text-align: left;
    color: black;
    padding-left: 50px;
    font-size: 17px;
    padding-bottom: 100px;
    text-align: justify;

}

.wrapleft {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.wrapright {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}





img {
    box-shadow: 0 0 10px #000000;
}




@media (max-width: 800px) {
    .content {
     flex-direction: column;
     padding-left: 20px;
    } 
    img {
        width: 100%;
    }
    .title {
        font-size: 35px;
        padding-right: 0px;
        padding-top: 30px;
    }

    p {
        font-size: 14px;
        width: 85%;
        text-align: justify;
    }

    a {
        width: 70%;
        padding: 20px;
        font-size: 15px;
    }

    .date {
        font-size: 10px;
    }

    .top {
        flex-direction: column;
    }
 }