html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


a {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	text-decoration: none;
	padding: 120px;
	color: black;
	font-size: 4vw;
}

.date {
	font-size: 3vw;
}


a:hover{
	color: black;
	animation: blinkingBackground .6s infinite;
	border-radius: 800px;
}
@keyframes blinkingBackground{
	10%		{ background-color: #fff695;}
	20%		{ background-color: #fbe3a8;}
	30%		{ background-color: #f8d2b9;}
	40%		{ background-color: #f2b5d7;}
	50%		{ background-color: #eea3ea;}
	60%		{ background-color: #ea8eff;}
	70%		{ background-color: #f1afdd;}
	80%		{ background-color: #f5c2ca;}
	90%		{ background-color: #f9d7b5;}
	100%	{ background-color: #fce7a5;}
}


