
body {
    background: #e9c4b0;
}


.photos { 
    width: 100%;
    display: flex;
    flex-direction: column;
}

.groupone .grouptwo .groupthree {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}