body {
    background-image: url("pics/collage.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    backdrop-filter: brightness(4);
}

h1 {
    font-family: 'Aclonica', sans-serif;
    font-size: 130px;
    padding-top: 35px;
    background-color: rgb(255, 0, 144);
    color: rgb(208, 255, 0);
}

a {
    font-family: 'Cinzel', serif;
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding: 20px;
}

a:hover {
    color: yellow;
    transition: 0.5s;
}

.hello {
    text-align: center;
    padding-bottom: 150px;
}

.toplinks, .top {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 25px;
}

.mainlinks {
    display: flex;
    flex-direction: column;
}
