body {
    background-image: url("/pics/background.png");
    background-size: cover;
    background-color: black;
    color: white;
}

h1 {
    font-size: 150px;
    font-family: 'Tangerine';
}

a {
    font-size: 50px;
    text-decoration: none;
    color: white;
}
.hello {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 200px;
}
