html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

iframe {
    padding: 60px;
}



body{
    background-image: url("/pics/background.png");
    background-color: rgb(238, 237, 237);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

button {
  background-color: blue;
  color: white;
  padding: 16px;
  font-size: 18px;
}

.dropdown {
  display: inline-block;
  position: relative;
  
}

.dropdown:hover button {
  background-color: black;
  transition: .3s;
  cursor: zoom-in;
}

.dropdown-options {
  overflow: auto;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.date {
  font-size: 13px;
}

.dropdown-options a {
  color: black;
  padding: 20px 12px 20px 12px;
  text-decoration: none;
  display: block;

}

.dropdown-options a:hover {
  background-color: rgb(255, 255, 185);
  transition: .3s;
}

.dropdown:hover .dropdown-options {
  display: block;
}
  
.menu {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 100px;
  padding-top: 150px;
}















.box1 {
    position: absolute;
    box-shadow: 0px 0px 30px black;
    border-radius: 2%;
    right: 25%;
    top: 40%;
    height: 300px;
    width: 400px;
    text-align: center;
    background-image: url("/pics/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    cursor: all-scroll;
}

.box1:hover {
    box-shadow: 0px 0px 30px 10px white;
}





@media (max-width: 800px) {
  body {
    background-image: url("/pics/phonebackground.png");
    background-color: rgb(238, 237, 237);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
  }

  .box1 {
    position: absolute;
    box-shadow: 0px 0px 30px black;
    border-radius: 2%;
    right: 70%;
    top: -10%;
    height: 150px;
    width: 200px;
    text-align: center;
    background-image: url("/pics/phonebackground2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    cursor: all-scroll;
    scale: 0%;
}

.box1:hover {
    box-shadow: 0px 0px 30px 10px white;
}

.menu {
  scale: 65%;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0px;
  padding-top: 0px;
}

}